---
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import CallToAction from '../components/CallToAction.astro';
---

<Layout title="Microsoft - Togo Ambassadors.">
	<main class="space-y-20 mb-10">
		<HeroSection/>
		<CallToAction/>
	</main>
</Layout>
